body {
	/* margin: 1em; */
}

#main {
	vertical-align: middle;
}

.focused {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.hide {
	display: none;
}

table {
	/* border-collapse: collapse; */
	/* will cause render bugs :( */
}

th, tr, td {
	border: 1px solid var(--vscode-textBlockQuote-border);
}

td {
	cursor: pointer;
}

th {
	padding: .5em;
	color: var(--vscode-editor-selectionForeground);
	background-color: var(--vscode-editor-inactiveSelectionBackground);
}

td {
	padding: .3em;
	min-width: 6em;
}

.action-separator {
	width: 1px;
	height: var(--vscode-editor-font-size);
	margin: 0 .5em;
	display: inline-block;
	background-color: black;
}