body {
	justify-content: center;
	align-items: center;
	margin: 1em 2em;
}

/* td:hover {
	background-color: #ddd;
} */



.focused {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.hide {
	display: none;
}

table {
	/* border-collapse: collapse; */
}

th, tr, td {
	border: 1px solid var(--vscode-textBlockQuote-border);
}

tr, td {
	cursor: pointer;
}

th {
	padding: .5em;
	background-color: var(--vscode-editor-inactiveSelectionBackground);
}

td {
	padding: .3em;
	min-width: 6em;
}