:root{

    --vscode-activityBarBadge-background: #007acc;
    --vscode-editor-background: #ffffff;
    --vscode-editor-foreground: #000000;
    --vscode-editor-inactiveSelectionBackground: #e5ebf1;
    --vscode-editor-selectionHighlightBackground: #add6ff80;
    --vscode-editorIndentGuide-activeBackground: #939393;
    --vscode-editorIndentGuide-background: #d3d3d3;
    --vscode-editorSuggestWidget-background: #f3f3f3;
    --vscode-input-placeholderForeground: #767676;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-hoverBackground: #e8e8e8;
    --vscode-notebook-cellBorderColor: #e8e8e8;
    --vscode-notebook-selectedCellBackground: #c8ddf150;
    --vscode-ports-iconRunningProcessForeground: #369432;
    --vscode-searchEditor-textInputBorder: #cecece;
    --vscode-settings-numberInputBorder: #cecece;
    --vscode-settings-textInputBorder: #cecece;
    --vscode-sideBarSectionHeader-background: #00000000;
    --vscode-sideBarSectionHeader-border: #61616130;
    --vscode-sideBarTitle-foreground: #6f6f6f;
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-remoteBackground: #16825d;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-tab-lastPinnedBorder: #61616130;
    --vscode-activityBar-activeBorder: #ffffff;
    --vscode-activityBar-background: #2c2c2c;
    --vscode-activityBar-dropBorder: #ffffff;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: #ffffff66;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-badge-background: #c4c4c4;
    --vscode-badge-foreground: #333333;
    --vscode-banner-background: #004386;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #1a85ff;
    --vscode-breadcrumb-activeSelectionForeground: #4e4e4e;
    --vscode-breadcrumb-background: #ffffff;
    --vscode-breadcrumb-focusForeground: #4e4e4e;
    --vscode-breadcrumb-foreground: #616161cc;
    --vscode-breadcrumbPicker-background: #f3f3f3;
    --vscode-button-background: #007acc;
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #0062a3;
    --vscode-button-secondaryBackground: #5f6a79;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryHoverBackground: #4c5561;
    --vscode-charts-blue: #1a85ff;
    --vscode-charts-foreground: #616161;
    --vscode-charts-green: #388a34;
    --vscode-charts-lines: #61616180;
    --vscode-charts-orange: #d18616;
    --vscode-charts-purple: #652d90;
    --vscode-charts-red: #e51400;
    --vscode-charts-yellow: #bf8803;
    --vscode-checkbox-background: #ffffff;
    --vscode-checkbox-border: #cecece;
    --vscode-debugConsole-errorForeground: #a1260d;
    --vscode-debugConsole-infoForeground: #1a85ff;
    --vscode-debugConsole-sourceForeground: #616161;
    --vscode-debugConsole-warningForeground: #bf8803;
    --vscode-debugConsoleInputIcon-foreground: #616161;
    --vscode-debugExceptionWidget-background: #f1dfde;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #007acc;
    --vscode-debugIcon-disconnectForeground: #a1260d;
    --vscode-debugIcon-pauseForeground: #007acc;
    --vscode-debugIcon-restartForeground: #388a34;
    --vscode-debugIcon-startForeground: #388a34;
    --vscode-debugIcon-stepBackForeground: #007acc;
    --vscode-debugIcon-stepIntoForeground: #007acc;
    --vscode-debugIcon-stepOutForeground: #007acc;
    --vscode-debugIcon-stepOverForeground: #007acc;
    --vscode-debugIcon-stopForeground: #a1260d;
    --vscode-debugTokenExpression-boolean: #0000ff;
    --vscode-debugTokenExpression-error: #e51400;
    --vscode-debugTokenExpression-name: #9b46b0;
    --vscode-debugTokenExpression-number: #098658;
    --vscode-debugTokenExpression-string: #a31515;
    --vscode-debugTokenExpression-value: #6c6c6ccc;
    --vscode-debugToolBar-background: #f3f3f3;
    --vscode-debugView-exceptionLabelBackground: #a31515;
    --vscode-debugView-exceptionLabelForeground: #ffffff;
    --vscode-debugView-stateLabelBackground: #88888844;
    --vscode-debugView-stateLabelForeground: #616161;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: #717171;
    --vscode-diffEditor-diagonalFill: #22222233;
    --vscode-diffEditor-insertedTextBackground: #9bb95533;
    --vscode-diffEditor-removedTextBackground: #ff000033;
    --vscode-dropdown-background: #ffffff;
    --vscode-dropdown-border: #cecece;
    --vscode-editor-findMatchBackground: #a8ac94;
    --vscode-editor-findMatchHighlightBackground: #ea5c0055;
    --vscode-editor-findRangeHighlightBackground: #b4b4b44d;
    --vscode-editor-focusedStackFrameHighlightBackground: #cee7ce73;
    --vscode-editor-foldBackground: #add6ff4d;
    --vscode-editor-hoverHighlightBackground: #add6ff26;
    --vscode-editor-inlineValuesBackground: #ffc80033;
    --vscode-editor-inlineValuesForeground: #00000080;
    --vscode-editor-lineHighlightBorder: #eeeeee;
    --vscode-editor-linkedEditingBackground: #ff00004d;
    --vscode-editor-rangeHighlightBackground: #fdff0033;
    --vscode-editor-selectionBackground: #add6ff;
    --vscode-editor-snippetFinalTabstopHighlightBorder: #0a326480;
    --vscode-editor-snippetTabstopHighlightBackground: #0a326433;
    --vscode-editor-stackFrameHighlightBackground: #ffff6673;
    --vscode-editor-symbolHighlightBackground: #ea5c0055;
    --vscode-editor-wordHighlightBackground: #57575740;
    --vscode-editor-wordHighlightStrongBackground: #0e639c40;
    --vscode-editorActiveLineNumber-foreground: #0b216f;
    --vscode-editorBracketHighlight-foreground1: #0431fa;
    --vscode-editorBracketHighlight-foreground2: #319331;
    --vscode-editorBracketHighlight-foreground3: #7b3814;
    --vscode-editorBracketHighlight-foreground4: #00000000;
    --vscode-editorBracketHighlight-foreground5: #00000000;
    --vscode-editorBracketHighlight-foreground6: #00000000;
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: #ff1212cc;
    --vscode-editorBracketMatch-background: #0064001a;
    --vscode-editorBracketMatch-border: #b9b9b9;
    --vscode-editorBracketPairGuide-activeBackground1: #00000000;
    --vscode-editorBracketPairGuide-activeBackground2: #00000000;
    --vscode-editorBracketPairGuide-activeBackground3: #00000000;
    --vscode-editorBracketPairGuide-activeBackground4: #00000000;
    --vscode-editorBracketPairGuide-activeBackground5: #00000000;
    --vscode-editorBracketPairGuide-activeBackground6: #00000000;
    --vscode-editorBracketPairGuide-background1: #00000000;
    --vscode-editorBracketPairGuide-background2: #00000000;
    --vscode-editorBracketPairGuide-background3: #00000000;
    --vscode-editorBracketPairGuide-background4: #00000000;
    --vscode-editorBracketPairGuide-background5: #00000000;
    --vscode-editorBracketPairGuide-background6: #00000000;
    --vscode-editorCodeLens-foreground: #919191;
    --vscode-editorCursor-foreground: #000000;
    --vscode-editorError-foreground: #e51400;
    --vscode-editorGhostText-foreground: #00000077;
    --vscode-editorGroup-border: #e7e7e7;
    --vscode-editorGroup-dropBackground: #2677cb2e;
    --vscode-editorGroupHeader-noTabsBackground: #ffffff;
    --vscode-editorGroupHeader-tabsBackground: #f3f3f3;
    --vscode-editorGutter-addedBackground: #81b88b;
    --vscode-editorGutter-background: #ffffff;
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-editorGutter-deletedBackground: #ca4b51;
    --vscode-editorGutter-foldingControlForeground: #424242;
    --vscode-editorGutter-modifiedBackground: #66afe0;
    --vscode-editorHint-foreground: #6c6c6c;
    --vscode-editorHoverWidget-background: #f3f3f3;
    --vscode-editorHoverWidget-border: #c8c8c8;
    --vscode-editorHoverWidget-foreground: #616161;
    --vscode-editorHoverWidget-highlightForeground: #0066bf;
    --vscode-editorHoverWidget-statusBarBackground: #e7e7e7;
    --vscode-editorInfo-foreground: #1a85ff;
    --vscode-editorInlayHint-background: #c4c4c44d;
    --vscode-editorInlayHint-foreground: #333333cc;
    --vscode-editorInlayHint-parameterBackground: #c4c4c44d;
    --vscode-editorInlayHint-parameterForeground: #333333cc;
    --vscode-editorInlayHint-typeBackground: #c4c4c44d;
    --vscode-editorInlayHint-typeForeground: #333333cc;
    --vscode-editorLightBulb-foreground: #ddb100;
    --vscode-editorLightBulbAutoFix-foreground: #007acc;
    --vscode-editorLineNumber-activeForeground: #0b216f;
    --vscode-editorLineNumber-foreground: #237893;
    --vscode-editorLink-activeForeground: #0000ff;
    --vscode-editorMarkerNavigation-background: #ffffff;
    --vscode-editorMarkerNavigationError-background: #e51400;
    --vscode-editorMarkerNavigationError-headerBackground: #e514001a;
    --vscode-editorMarkerNavigationInfo-background: #1a85ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: #1a85ff1a;
    --vscode-editorMarkerNavigationWarning-background: #bf8803;
    --vscode-editorMarkerNavigationWarning-headerBackground: #bf88031a;
    --vscode-editorOverviewRuler-addedForeground: #81b88b99;
    --vscode-editorOverviewRuler-border: #7f7f7f4d;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commonContentForeground: #60606066;
    --vscode-editorOverviewRuler-currentContentForeground: #40c8ae80;
    --vscode-editorOverviewRuler-deletedForeground: #ca4b5199;
    --vscode-editorOverviewRuler-errorForeground: #ff1212b3;
    --vscode-editorOverviewRuler-findMatchForeground: #d186167e;
    --vscode-editorOverviewRuler-incomingContentForeground: #40a6ff80;
    --vscode-editorOverviewRuler-infoForeground: #1a85ff;
    --vscode-editorOverviewRuler-modifiedForeground: #66afe099;
    --vscode-editorOverviewRuler-rangeHighlightForeground: #007acc99;
    --vscode-editorOverviewRuler-selectionHighlightForeground: #a0a0a0cc;
    --vscode-editorOverviewRuler-unicodeForeground: #d186167e;
    --vscode-editorOverviewRuler-warningForeground: #bf8803;
    --vscode-editorOverviewRuler-wordHighlightForeground: #a0a0a0cc;
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: #c0a0c0cc;
    --vscode-editorPane-background: #ffffff;
    --vscode-editorRuler-foreground: #d3d3d3;
    --vscode-editorSuggestWidget-border: #c8c8c8;
    --vscode-editorSuggestWidget-focusHighlightForeground: #9dddff;
    --vscode-editorSuggestWidget-foreground: #000000;
    --vscode-editorSuggestWidget-highlightForeground: #0066bf;
    --vscode-editorSuggestWidget-selectedBackground: #0060c0;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedIconForeground: #ffffff;
    --vscode-editorSuggestWidgetStatus-foreground: #00000080;
    --vscode-editorUnicodeHighlight-border: #cea33d;
    --vscode-editorUnnecessaryCode-opacity: #00000077;
    --vscode-editorWarning-foreground: #bf8803;
    --vscode-editorWhitespace-foreground: #33333333;
    --vscode-editorWidget-background: #f3f3f3;
    --vscode-editorWidget-border: #c8c8c8;
    --vscode-editorWidget-foreground: #616161;
    --vscode-errorForeground: #a1260d;
    --vscode-extensionBadge-remoteBackground: #007acc;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-extensionButton-prominentBackground: #007acc;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #0062a3;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-starForeground: #df6100;
    --vscode-extensionIcon-verifiedForeground: #006ab1;
    --vscode-focusBorder: #0090f1;
    --vscode-foreground: #616161;
    --vscode-gitDecoration-addedResourceForeground: #587c0c;
    --vscode-gitDecoration-conflictingResourceForeground: #ad0707;
    --vscode-gitDecoration-deletedResourceForeground: #ad0707;
    --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
    --vscode-gitDecoration-modifiedResourceForeground: #895503;
    --vscode-gitDecoration-renamedResourceForeground: #007100;
    --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
    --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
    --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
    --vscode-gitDecoration-untrackedResourceForeground: #007100;
    --vscode-icon-foreground: #424242;
    --vscode-input-background: #ffffff;
    --vscode-input-foreground: #616161;
    --vscode-inputOption-activeBackground: #0090f133;
    --vscode-inputOption-activeBorder: #007acc00;
    --vscode-inputOption-activeForeground: #000000;
    --vscode-inputOption-hoverBackground: #b8b8b850;
    --vscode-inputValidation-errorBackground: #f2dede;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-inputValidation-infoBackground: #d6ecf2;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #f6f5d2;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-interactive-activeCodeBorder: #1a85ff;
    --vscode-interactive-inactiveCodeBorder: #e4e6f1;
    --vscode-keybindingLabel-background: #dddddd66;
    --vscode-keybindingLabel-border: #cccccc66;
    --vscode-keybindingLabel-bottomBorder: #bbbbbb66;
    --vscode-keybindingLabel-foreground: #555555;
    --vscode-keybindingTable-headerBackground: #6161610a;
    --vscode-keybindingTable-rowsBackground: #6161610a;
    --vscode-list-activeSelectionBackground: #0060c0;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-deemphasizedForeground: #8e8e90;
    --vscode-list-dropBackground: #d6ebff;
    --vscode-list-errorForeground: #b01011;
    --vscode-list-filterMatchBackground: #ea5c0055;
    --vscode-list-focusHighlightForeground: #9dddff;
    --vscode-list-focusOutline: #0090f1;
    --vscode-list-highlightForeground: #0066bf;
    --vscode-list-inactiveSelectionBackground: #e4e6f1;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #855f00;
    --vscode-listFilterWidget-background: #efc1ad;
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-outline: #00000000;
    --vscode-menu-background: #ffffff;
    --vscode-menu-foreground: #616161;
    --vscode-menu-selectionBackground: #0060c0;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-separatorBackground: #888888;
    --vscode-menubar-selectionBackground: #0000001a;
    --vscode-menubar-selectionForeground: #333333;
    --vscode-merge-commonContentBackground: #60606029;
    --vscode-merge-commonHeaderBackground: #60606066;
    --vscode-merge-currentContentBackground: #40c8ae33;
    --vscode-merge-currentHeaderBackground: #40c8ae80;
    --vscode-merge-incomingContentBackground: #40a6ff33;
    --vscode-merge-incomingHeaderBackground: #40a6ff80;
    --vscode-minimap-errorHighlight: #ff1212b3;
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-selectionHighlight: #add6ff;
    --vscode-minimap-selectionOccurrenceHighlight: #c9c9c9;
    --vscode-minimap-unicodeHighlight: #d18616;
    --vscode-minimap-warningHighlight: #bf8803;
    --vscode-minimapGutter-addedBackground: #81b88b;
    --vscode-minimapGutter-deletedBackground: #ca4b51;
    --vscode-minimapGutter-modifiedBackground: #66afe0;
    --vscode-minimapSlider-activeBackground: #0000004d;
    --vscode-minimapSlider-background: #64646433;
    --vscode-minimapSlider-hoverBackground: #64646459;
    --vscode-notebook-cellEditorBackground: #f3f3f3;
    --vscode-notebook-cellInsertionIndicator: #0090f1;
    --vscode-notebook-cellStatusBarItemHoverBackground: #00000014;
    --vscode-notebook-cellToolbarSeparator: #80808059;
    --vscode-notebook-focusedCellBorder: #0090f1;
    --vscode-notebook-focusedEditorBorder: #0090f1;
    --vscode-notebook-inactiveFocusedCellBorder: #e8e8e8;
    --vscode-notebook-selectedCellBorder: #e8e8e8;
    --vscode-notebook-symbolHighlightBackground: #fdff0033;
    --vscode-notebookScrollbarSlider-activeBackground: #00000099;
    --vscode-notebookScrollbarSlider-background: #64646466;
    --vscode-notebookScrollbarSlider-hoverBackground: #646464b3;
    --vscode-notebookStatusErrorIcon-foreground: #a1260d;
    --vscode-notebookStatusRunningIcon-foreground: #616161;
    --vscode-notebookStatusSuccessIcon-foreground: #388a34;
    --vscode-notificationCenterHeader-background: #e7e7e7;
    --vscode-notificationLink-foreground: #006ab1;
    --vscode-notifications-background: #f3f3f3;
    --vscode-notifications-border: #e7e7e7;
    --vscode-notifications-foreground: #616161;
    --vscode-notificationsErrorIcon-foreground: #e51400;
    --vscode-notificationsInfoIcon-foreground: #1a85ff;
    --vscode-notificationsWarningIcon-foreground: #bf8803;
    --vscode-panel-background: #ffffff;
    --vscode-panel-border: #80808059;
    --vscode-panel-dropBorder: #424242;
    --vscode-panelInput-border: #dddddd;
    --vscode-panelSection-border: #80808059;
    --vscode-panelSection-dropBackground: #2677cb2e;
    --vscode-panelSectionHeader-background: #80808033;
    --vscode-panelTitle-activeBorder: #424242;
    --vscode-panelTitle-activeForeground: #424242;
    --vscode-panelTitle-inactiveForeground: #424242bf;
    --vscode-peekView-border: #1a85ff;
    --vscode-peekViewEditor-background: #f2f8fc;
    --vscode-peekViewEditor-matchHighlightBackground: #f5d802de;
    --vscode-peekViewEditorGutter-background: #f2f8fc;
    --vscode-peekViewResult-background: #f3f3f3;
    --vscode-peekViewResult-fileForeground: #1e1e1e;
    --vscode-peekViewResult-lineForeground: #646465;
    --vscode-peekViewResult-matchHighlightBackground: #ea5c004d;
    --vscode-peekViewResult-selectionBackground: #3399ff33;
    --vscode-peekViewResult-selectionForeground: #6c6c6c;
    --vscode-peekViewTitle-background: #1a85ff1a;
    --vscode-peekViewTitleDescription-foreground: #616161;
    --vscode-peekViewTitleLabel-foreground: #000000;
    --vscode-pickerGroup-border: #cccedb;
    --vscode-pickerGroup-foreground: #0066bf;
    --vscode-problemsErrorIcon-foreground: #e51400;
    --vscode-problemsInfoIcon-foreground: #1a85ff;
    --vscode-problemsWarningIcon-foreground: #bf8803;
    --vscode-progressBar-background: #0e70c0;
    --vscode-quickInput-background: #f3f3f3;
    --vscode-quickInput-foreground: #616161;
    --vscode-quickInputList-focusBackground: #0060c0;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusIconForeground: #ffffff;
    --vscode-quickInputTitle-background: #0000000f;
    --vscode-sash-hoverBorder: #0090f1;
    --vscode-scm-providerBorder: #c8c8c8;
    --vscode-scrollbar-shadow: #dddddd;
    --vscode-scrollbarSlider-activeBackground: #00000099;
    --vscode-scrollbarSlider-background: #64646466;
    --vscode-scrollbarSlider-hoverBackground: #646464b3;
    --vscode-searchEditor-findMatchBackground: #ea5c0038;
    --vscode-settings-checkboxBackground: #ffffff;
    --vscode-settings-checkboxBorder: #cecece;
    --vscode-settings-dropdownBackground: #ffffff;
    --vscode-settings-dropdownBorder: #cecece;
    --vscode-settings-dropdownListBorder: #c8c8c8;
    --vscode-settings-focusedRowBorder: #0000001f;
    --vscode-settings-headerForeground: #444444;
    --vscode-settings-modifiedItemIndicator: #66afe0;
    --vscode-settings-numberInputBackground: #ffffff;
    --vscode-settings-numberInputForeground: #616161;
    --vscode-settings-textInputBackground: #ffffff;
    --vscode-settings-textInputForeground: #616161;
    --vscode-sideBar-background: #f3f3f3;
    --vscode-sideBar-dropBackground: #2677cb2e;
    --vscode-sideBySideEditor-horizontalBorder: #e7e7e7;
    --vscode-sideBySideEditor-verticalBorder: #e7e7e7;
    --vscode-statusBar-background: #007acc;
    --vscode-statusBar-debuggingBackground: #cc6633;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderBackground: #68217a;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBarItem-activeBackground: #ffffff2e;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-hoverBackground: #ffffff1f;
    --vscode-statusBarItem-prominentBackground: #00000080;
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentHoverBackground: #0000004d;
    --vscode-statusBarItem-warningBackground: #725102;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-symbolIcon-arrayForeground: #616161;
    --vscode-symbolIcon-booleanForeground: #616161;
    --vscode-symbolIcon-classForeground: #d67e00;
    --vscode-symbolIcon-colorForeground: #616161;
    --vscode-symbolIcon-constantForeground: #616161;
    --vscode-symbolIcon-constructorForeground: #652d90;
    --vscode-symbolIcon-enumeratorForeground: #d67e00;
    --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
    --vscode-symbolIcon-eventForeground: #d67e00;
    --vscode-symbolIcon-fieldForeground: #007acc;
    --vscode-symbolIcon-fileForeground: #616161;
    --vscode-symbolIcon-folderForeground: #616161;
    --vscode-symbolIcon-functionForeground: #652d90;
    --vscode-symbolIcon-interfaceForeground: #007acc;
    --vscode-symbolIcon-keyForeground: #616161;
    --vscode-symbolIcon-keywordForeground: #616161;
    --vscode-symbolIcon-methodForeground: #652d90;
    --vscode-symbolIcon-moduleForeground: #616161;
    --vscode-symbolIcon-namespaceForeground: #616161;
    --vscode-symbolIcon-numberForeground: #616161;
    --vscode-symbolIcon-objectForeground: #616161;
    --vscode-symbolIcon-operatorForeground: #616161;
    --vscode-symbolIcon-packageForeground: #616161;
    --vscode-symbolIcon-propertyForeground: #616161;
    --vscode-symbolIcon-referenceForeground: #616161;
    --vscode-symbolIcon-snippetForeground: #616161;
    --vscode-symbolIcon-stringForeground: #616161;
    --vscode-symbolIcon-structForeground: #616161;
    --vscode-symbolIcon-textForeground: #616161;
    --vscode-symbolIcon-typeParameterForeground: #616161;
    --vscode-symbolIcon-unitForeground: #616161;
    --vscode-symbolIcon-variableForeground: #007acc;
    --vscode-tab-activeBackground: #ffffff;
    --vscode-tab-activeForeground: #333333;
    --vscode-tab-activeModifiedBorder: #33aaee;
    --vscode-tab-border: #f3f3f3;
    --vscode-tab-inactiveBackground: #ececec;
    --vscode-tab-inactiveForeground: #333333b3;
    --vscode-tab-inactiveModifiedBorder: #33aaee80;
    --vscode-tab-unfocusedActiveBackground: #ffffff;
    --vscode-tab-unfocusedActiveForeground: #333333b3;
    --vscode-tab-unfocusedActiveModifiedBorder: #33aaeeb3;
    --vscode-tab-unfocusedInactiveBackground: #ececec;
    --vscode-tab-unfocusedInactiveForeground: #33333359;
    --vscode-tab-unfocusedInactiveModifiedBorder: #33aaee40;
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #0451a5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightBlue: #0451a5;
    --vscode-terminal-ansiBrightCyan: #0598bc;
    --vscode-terminal-ansiBrightGreen: #14ce14;
    --vscode-terminal-ansiBrightMagenta: #bc05bc;
    --vscode-terminal-ansiBrightRed: #cd3131;
    --vscode-terminal-ansiBrightWhite: #a5a5a5;
    --vscode-terminal-ansiBrightYellow: #b5ba00;
    --vscode-terminal-ansiCyan: #0598bc;
    --vscode-terminal-ansiGreen: #00bc00;
    --vscode-terminal-ansiMagenta: #bc05bc;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiWhite: #555555;
    --vscode-terminal-ansiYellow: #949800;
    --vscode-terminal-border: #80808059;
    --vscode-terminal-dropBackground: #2677cb2e;
    --vscode-terminal-foreground: #333333;
    --vscode-terminal-selectionBackground: #00000040;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-message-error-decorationForeground: #e51400;
    --vscode-testing-message-error-lineBackground: #ff000033;
    --vscode-testing-message-info-decorationForeground: #00000080;
    --vscode-testing-peekBorder: #e51400;
    --vscode-testing-peekHeaderBackground: #e514001a;
    --vscode-testing-runAction: #73c991;
    --vscode-textBlockQuote-background: #7f7f7f1a;
    --vscode-textBlockQuote-border: #007acc80;
    --vscode-textCodeBlock-background: #dcdcdc66;
    --vscode-textLink-activeForeground: #006ab1;
    --vscode-textLink-foreground: #006ab1;
    --vscode-textPreformat-foreground: #a31515;
    --vscode-textSeparator-foreground: #0000002e;
    --vscode-titleBar-activeBackground: #dddddd;
    --vscode-titleBar-activeForeground: #333333;
    --vscode-titleBar-inactiveBackground: #dddddd99;
    --vscode-titleBar-inactiveForeground: #33333399;
    --vscode-toolbar-activeBackground: #a6a6a650;
    --vscode-toolbar-hoverBackground: #b8b8b850;
    --vscode-tree-indentGuidesStroke: #a9a9a9;
    --vscode-tree-tableColumnsBorder: #61616120;
    --vscode-tree-tableOddRowsBackground: #6161610a;
    --vscode-welcomePage-progress-background: #ffffff;
    --vscode-welcomePage-progress-foreground: #006ab1;
    --vscode-welcomePage-tileBackground: #f3f3f3;
    --vscode-welcomePage-tileHoverBackground: #dbdbdb;
    --vscode-welcomePage-tileShadow: #00000029;
    --vscode-widget-shadow: #00000029;
    --vscode-font-size: 20px;
}